* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #0c4128;
}

.font {
    color: yellow;
    font-weight: 600;
}

.paragraph {
    font-style: italic;
    width: 800px;
    float: right;
}

.yellow_text {
    color: yellow;
}

header a {
    color: white;
    font-weight: 800;
    text-decoration: none;
    margin-right: 5px;
    font-size: 18px;
}

header a.active {
    color: yellow;
    text-decoration: underline;
}
header a:hover {
    color: yellow;
}


